# =========================================================================
# Generic Crime Prediction Tool
# - Primary Developers/Contacts: Zexi Li, Wensi Wang, Xi Zeng, Yumeng Zhang
# =========================================================================

data_directory = "data/ASSAULT.csv"

[proc]
    run_ffn             = true
    run_cnn             = true
    run_rnn             = true

[config.ffn]
    batch_size          = 32
    shuffle             = true
    learning_rate       = 0.001
    reg                 = 0.0005
    momentum            = 0.9
    loss_type           = 'Focal'
    save_best           = true
    beta                = 0.999

[config.cnn]
    batch_size          = 5
    shuffle             = true
    learning_rate       = 0.001
    reg                 = 0.0005
    momentum            = 0.9
    loss_type           = 'CE'
    save_best           = true
    beta                = 0.999

[config.rnn]